<html>
  <head>
    <title>car showroom- niganth</title>
    <link rel="stylesheet" href="location.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> 
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    
  </head>
  <body>
      
    <div class="banner">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                  <span class="navbar-toggler-icon"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                      <a class="navbar-brand" href="#">21'CARS</a>
              </div>
              
              <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="index.html">HOME</a></li>
                        
              </div>
            </div>
          </nav>
        <div class="table-responsive">
           
            <table class="table table-hover">
                <caption>Locations of our showroom</caption>
                <tr>
                    <th> North Districts  </th>
                    <th> South Districts </th>
                    <th>  West Districts </th>
                </tr>
                <tr>
                    <td> Chennai</td>
                    <td> Dindigul </td>
                    <td> Coimbatore</td>
                </tr>
                <tr>
                    <td>  Cuddalore</td>
                    <td> Madurai</td>
                    <td> Erode </td>
                </tr>
                <tr>
                    <td> Kanchipuram </td>
                    <td>  Virudhunagar</td>
                    <td>  Tirupur</td>
                </tr>
            </table>
        </div>         
    </div>
    </div>
    </body>
    </html> 